
@{
    ViewBag.Title = "Trang chu Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> Xin chào Quản trị </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Quản trị</a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Vai trò quản trị</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            YugWolGaming là một website giới thiệu về game và bán game online được phân quyền và quản lý hoàn toàn toàn bới Admin, nếu thuê nhân viên quản trị thì chủ cửa hàng cung cấp tài khoản và quyền hạn cho nhân viên (Employee) đó truy cập vào hệ thống.<br /><br />
            Nhân viên (Employee) có quyền thêm, sửa, xoá game có trên website và quản lý các đơn hàng được mua ở trong gmail.<br /><br />
            Khách hàng (Customer) được đăng kí và đăng nhập trang người dùng.<br /><br />
            Một số trang bán hàng cao cấp có tích hợp nhiều phương thức thanh toán, xong do điều kiện thực tế, phần này khó áp dụng với website có quy mô nhỏ.

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Chu Văn Huy
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
